/*====font=====*/
@font-face {
    font-family: gabia_solmee;
    src: url('/font/gabia_solmee.ttf')
}

* {
    font-family: gabia_solmee;
    letter-spacing: -.7px;

}

/*====main-btn====*/
.start-btn {
    background-color: #EE8CB4;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    outline: none;
    font-size: 30px;
    padding: 30px;
    margin: 0px auto;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    opacity: 0;
    width: 50%;
    display: block;
    animation-duration: 1.5s;
    animation-delay: 1s;
    
}


h1 {
    text-align: center;
}

/*====선택지=====*/
.choice:hover {
    background: rgb(249, 255, 234);
    color: black;

}

.choice {
    font-size: 30px;
    color: lightslategray;

    background: white;
    outline: none;
    /* border: 1px solid palevioletred; */
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    text-align: left;
    transition: background, color .5s ease;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
    height: 60px;
}

.choice,
.question,
.q {
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-name: bounceInDown;
}

.q {
    color: #EE8CB4;
}

.question {
    font-size: 30px;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

body {
}

#body{
    display: flow-root;
    position: relative;
}


#body-container {    
    position: absolute;
    left: 50%;
    top: 40%;
    width: 500px;
    margin-top: -300px;
    margin-left: -350px;
    border-radius: 10px;
    padding: 100px;
    display: none;
}


/*====진행도====*/
.progress-bar-container {
    height: 40px;
    border: 1px gray solid;
    border-radius: 5px;
    width: 100%;
    background-color: #ee8cb352;


}

.progress-bar {
    transition: 1s;
    height: 40px;
    background-color: #EE8CB4;
    border-radius: 5px;
    width: 0%;
    color: whitesmoke;
    text-align: right;
    font-size: 40px;

}

/*====메인 이미지====*/
.title-img{
    width: 500px;
}


.result-container{

}

.result-img:hover{
    animation-duration: 1s;
    animation-name: bounce;

}

.result-value{
    font-size : 60px;
    color : #F3B0CB;
}

.result-title{
    font-size: 50px;
}

.result-text{
    font-size: 27px;
}

.result-negative-container{
    float: right;
    width: 49%;
    text-align: center;
}

.result-negative-title{
    margin-bottom: 1px;
}


.result-negative-img{
    animation-duration: 1s;
    animation-delay: 0.1s;
}

.result-negative-img:hover{
    cursor: pointer;       
    animation-name: bounce;

}

.result-negative-value{
    color: red;
    font-size: 35px;
}

.result-positive-container{
    float: left;
    width: 49%;
    text-align: center;
}

.result-positive-title{
    margin-bottom: 1px;
    
}
.result-positive-value{
    color: blue;
    font-size: 35px;
}

.result-positive-img{
    animation-duration: 1s;
    animation-delay: 0.1s;    
}
.result-positive-img:hover{
    cursor: pointer;    
    animation-name: bounce;
}

.share-container{
    margin: 30px auto;
    font-size : 25px;
    text-align: center;
}

.kakao-share-button img{
    margin: 1px auto;
    animation-duration: 1s;
    animation-delay: 0.1s; 
}

.kakao-share-button img:hover{
    animation-name: bounce;

}


